<div class="jumbotron">
  <h2>Paka, Last</h2>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Register</a></p>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    Basic panel example <br>
	sdhfdsf sdfhdlfijhds
  </div>
</div>