<!DOCTYPE html>
<html>
  <head>
    <title>Lalala Website</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<%= render 'shared/navbar'%>
  <body>
    <%= yield %>
  </body>
  <%= render 'shared/content'%>
  
</html>
